@font-face {
  font-family: 'gotham_htfbold';
  src: url("../fonts/gothamhtf-bold-webfont.woff2") format("woff2"), url("../fonts/gothamhtf-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_htfbook';
  src: url("../fonts/gothamhtf-book-webfont.woff2") format("woff2"), url("../fonts/gothamhtf-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_htflight';
  src: url("../fonts/gothamhtf-light-webfont.woff2") format("woff2"), url("../fonts/gothamhtf-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_htf';
  src: url("../fonts/gothamhtf-medium-webfont.woff2") format("woff2"), url("../fonts/gothamhtf-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  font-family: "gotham_htf","Helvetica Neue", "Helvetica", "Arial", "sans-serif"; }

body {
  background-color: #fbfbfb;
  color: #142d4e;
  font-size: 13px;
  margin-bottom: 30px; }

nav {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1B314F !important;
  min-height: 60px !important;
  display: inline-block;
  width: 100%; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-default .navbar-nav li > a:hover {
  background-color: #0040FF;
  color: #fff; }

.navbar-nav {
  margin: 7.5px 5px !important; }

.navbar-nav > li > a {
  line-height: 14px !important; }

nav ul, nav ul li {
  display: inline; }

.navbar-default .navbar-nav > li > a:focus {
  color: #fff; }

nav .nome-loja a {
  padding: 0;
  font-size: 11px;
  color: #0080FF !important;
  background-color: transparent; }

nav .nome-loja a:hover {
  background-color: transparent !important;
  color: #FF3636 !important; }

nav .nome-loja {
  padding: 10px 0 0 15px;
  font-size: 12px;
  color: #fff; }

.navbar-brand {
  padding: 15px 0px;
  margin-right: 30px; }

/*.owl-item{width:200px!important;padding: 0 20px;}*/
.carousel-caption {
  position: inherit;
  left: auto;
  right: auto;
  padding-top: 0px;
  text-shadow: none;
  color: #000;
  padding-bottom: 0px; }

.carousel-caption h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  color: #142d4e; }

.carousel-caption p {
  margin-bottom: 0px;
  height: 45px; }

.owl-carousel .owl-nav {
  width: 100%;
  top: 40%;
  position: absolute; }

.owl-carousel .owl-nav .owl-prev {
  float: left; }

.owl-carousel .owl-nav .owl-next {
  float: right;
  text-align: right; }

a {
  color: #53b0f2; }

.table {
  font-size: 13px; }

.status {
  color: #F9BB60; }

.status.aprovado {
  color: #54AFF2; }

.status.negada {
  color: #FF3636; }

.bt-vermelho {
  background-color: #FF3636;
  line-height: 23px;
  color: #fff;
  border-radius: 45px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 20px 8px 20px !important;
  margin-top: 5px; }

.bt-vermelho:hover, .bt-vermelho:focus {
  background-color: #CE0000 !important;
  color: #fff !important; }

.bt-branco {
  width: 70%;
  text-align: left;
  line-height: 30px;
  color: #919191; }

.bt-branco:hover {
  color: #53b0f2;
  border: solid thin #53b0f2;
  background-color: #fff; }

.bt-cinza {
  background-color: #fff;
  line-height: 23px;
  border: solid thin #ebebeb;
  color: #484848;
  border-radius: 45px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px 8px 20px !important;
  margin-top: 5px; }

.bt-cinza:hover {
  background-color: #ebebeb; }

.bt-amarelo {
  background-color: #F8EEA7;
  line-height: 23px;
  border: solid thin #EBE3A4;
  color: #484848;
  border-radius: 45px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px 8px 20px !important; }

h3 {
  font-weight: bold;
  font-size: 32px; }

h4, .h4 {
  font-weight: bold;
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-weight: bold; }

.box {
  background-color: #fff;
  border-radius: 4px;
  webkit-box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.175);
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.175);
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  padding: 30px 0 20px 0;
  margin-bottom: 30px; }

.box input {
  margin: 5px 0; }

.box ul {
  padding-left: 18px; }

.box small {
  color: #C8C9C9; }

.owl-carousel.owl-loaded {
  margin-top: 15px; }

.owl-carousel .item {
  background-color: #fff;
  border-radius: 4px;
  webkit-box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.175);
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.175);
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  padding: 15px 10px 20px 10px;
  margin-bottom: 30px; }

.owl-carousel .item p {
  color: #142d4e; }

.owl-carousel .item span {
  color: #919191;
  font-family: 'gotham_htflight'; }

.owl-carousel .owl-item img {
  border-radius: 100%;
  height: 100px;
  width: 100px !important;
  margin: auto; }

.owl-carousel .owl-stage-outer {
  margin: auto auto auto 20px;
  width: 97%; }

.owl-carousel .owl-prev, .owl-carousel .owl-next {
  font-size: 22px;
  color: #FF3636; }

.area-busca {
  position: relative;
  right: 10px; }
  .area-busca a {
    position: absolute;
    top: 8px;
    right: 10px; }

/*.area-busca .form-control.inatv{width: 84px!important;border:0px!important;background-color: transparent;box-shadow: none;}*/
.table .glyphicon {
  font-size: 11px; }

.box-paginacao {
  text-align: center; }
  .box-paginacao nav {
    background-color: #fbfbfb !important; }

.glyphicon-chevron-up {
  color: #FF3636 !important; }

.has-success .form-control {
  -webkit-box-shadow: none;
  box-shadow: none; }

.has-error .form-control {
  -webkit-box-shadow: none;
  box-shadow: none; }

ul {
  list-style: none;
  padding-left: 0px; }

.modal-header {
  border-bottom: none; }

.box-propostaFinalizada {
  display: none;
  position: fixed;
  padding: 10px 20px 10px 20px;
  right: 60px;
  top: 75px;
  z-index: 50;
  width: 515px;
  height: 120px;
  border-radius: 6px;
  background-color: #53b0f2;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.43); }
  .box-propostaFinalizada .box-check {
    text-align: right; }
  .box-propostaFinalizada h3 {
    font-family: 'gotham_htflight';
    font-size: 32px;
    color: #fff;
    margin-top: 0px; }
  .box-propostaFinalizada span {
    font-family: 'gotham_htfbook';
    font-size: 14px;
    color: #fff; }
  .box-propostaFinalizada .box-sair {
    text-align: right;
    height: 15px; }
  .box-propostaFinalizada a {
    font-size: 16px;
    color: #fff;
    text-decoration: none; }

.check-blue {
  width: 32px;
  margin-top: 20px; }

.card {
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1); }

.dropdown-proposta {
  right: 160px !important;
  padding-right: 10px;
  padding-left: 10px; }
  .dropdown-proposta input {
    width: 200px; }
  .dropdown-proposta .label-loja {
    margin-top: 10px;
    color: #919191; }
  .dropdown-proposta .btn.bt-vermelho {
    padding-right: 27px !important; }
    .dropdown-proposta .btn.bt-vermelho:hover {
      background-color: #CE0000 !important;
      color: #FFF; }

.form-custom {
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
  border-radius: inherit;
  background-color: #FBFBFB;
  height: 40px;
  font-size: 24px;
  font-family: "gotham_htfbook"; }
  .form-custom ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 24px;
    font-family: "gotham_htfbook";
    color: #919191 !important; }
  .form-custom ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 24px;
    font-family: "gotham_htfbook";
    color: #919191 !important; }
  .form-custom :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 24px;
    font-family: "gotham_htfbook";
    color: #919191 !important; }
  .form-custom :-moz-placeholder {
    /* Firefox 18- */
    font-size: 24px;
    font-family: "gotham_htfbook";
    color: #919191 !important; }

.proposta-formulario {
  margin-top: 40px; }
  .proposta-formulario ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 24px;
    font-family: "gotham_htfbook";
    color: #919191 !important; }
  .proposta-formulario ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 24px;
    font-family: "gotham_htfbook";
    color: #919191 !important; }
  .proposta-formulario :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 24px;
    font-family: "gotham_htfbook";
    color: #919191 !important; }
  .proposta-formulario :-moz-placeholder {
    /* Firefox 18- */
    font-size: 24px;
    font-family: "gotham_htfbook";
    color: #919191 !important; }
  .proposta-formulario h5 {
    font-family: 'gotham_htf';
    font-weight: bold; }
  .proposta-formulario label {
    font-size: 11px; }
  .proposta-formulario input {
    font-size: 24px;
    color: #142d4e; }
  .proposta-formulario .cpf-cliente {
    margin-top: 40px; }
  .proposta-formulario .celular-cliente {
    margin-top: 40px; }
  .proposta-formulario .input-cel {
    margin-top: 20px; }
  .proposta-formulario .txt-cel {
    margin-top: 5px;
    color: #919191; }
  .proposta-formulario .nascimento-cliente {
    margin-top: 40px; }
  .proposta-formulario .input-nascimento {
    margin-top: 20px; }
  .proposta-formulario .ocupacao-cliente {
    margin-top: 40px; }
  .proposta-formulario select.form-custom {
    margin-top: 10px;
    font-size: 25px;
    font-family: "gotham_htfbook";
    color: #919191; }
  .proposta-formulario .cep-cliente {
    margin-top: 40px; }
  .proposta-formulario .txt-cep {
    margin-top: 20px; }
    .proposta-formulario .txt-cep a {
      text-decoration: underline; }
  .proposta-formulario .botao-proximo {
    margin-top: 30px; }
  .proposta-formulario .titulo-info h3 {
    margin-top: 0px;
    width: 320px;
    text-align: left;
    margin-left: 100px; }

#modal-suspenderCancelar .box-suspender {
  margin-top: 20px; }
#modal-suspenderCancelar .box-cancelar {
  margin-top: 40px; }

#modal-naoSabeCep span {
  color: #919191;
  font-family: 'gotham_htfbook'; }
#modal-naoSabeCep .radio {
  margin-top: 30px; }
#modal-naoSabeCep .radio-inline p {
  margin-left: 40px !important;
  font-family: 'gotham_htfbook';
  font-size: 13px; }
#modal-naoSabeCep .radio-inline + .radio-inline, #modal-naoSabeCep .checkbox-inline + .checkbox-inline {
  margin-left: 0px; }
#modal-naoSabeCep .radio label, #modal-naoSabeCep .checkbox label {
  padding-left: 0px;
  margin-bottom: 15px; }
#modal-naoSabeCep label span {
  font-family: 'gotham_htfbold';
  font-size: 14px;
  color: #142d4e;
  padding-top: 0px; }
#modal-naoSabeCep .radio {
  color: #919191;
  font-size: 15px;
  position: relative; }
#modal-naoSabeCep .radio span {
  position: relative;
  padding-left: 40px;
  padding-top: 0px;
  margin-right: 10px; }
#modal-naoSabeCep .radio span:after {
  content: '';
  width: 25px;
  height: 25px;
  border: 1px solid;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
#modal-naoSabeCep .radio input[type="radio"] {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
#modal-naoSabeCep .radio input[type="radio"]:checked + span {
  color: #53b0f2; }
#modal-naoSabeCep .radio input[type="radio"]:checked + span:before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background: #53b0f2;
  left: 5px;
  top: 6px;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%; }

#modal-cancelarMotivo .box-motivoSelect {
  margin-top: 40px;
  margin-bottom: 40px; }

.foto-cliente {
  margin-top: 40px; }
  .foto-cliente .img-boneco {
    text-align: center; }
  .foto-cliente h5 {
    color: #FF3636;
    font-family: 'gotham_htfbold'; }
  .foto-cliente .icon-photo {
    position: relative;
    top: -3px;
    left: -6px; }
  .foto-cliente .bt-vermelho {
    margin-top: 30px;
    font-family: 'gotham_htfbook';
    font-size: 11px; }

.foto-posicione {
  display: none;
  margin-top: 40px; }
  .foto-posicione h3 {
    margin-left: 200px; }
  .foto-posicione .img-camera {
    background-color: #ccc;
    height: 600px; }

.foto-cliente.resultado-negativo {
  margin-top: 40px; }
  .foto-cliente.resultado-negativo h3 {
    color: #FF3636; }
  .foto-cliente.resultado-negativo .img-circle {
    margin-top: 30px;
    border: solid 2px #ccc;
    border-radius: 50%;
    width: 300px;
    height: 300px; }

.foto-cliente.resultado-positivo {
  margin-top: 40px; }
  .foto-cliente.resultado-positivo .info-foto .img-check {
    display: inline-block !important;
    margin-bottom: 20px;
    margin-right: 10px; }
  .foto-cliente.resultado-positivo .info-foto h3 {
    display: inline-block !important; }
  .foto-cliente.resultado-positivo .img-circle {
    margin-top: 30px;
    border: solid 2px #ccc;
    border-radius: 50%;
    width: 300px;
    height: 300px; }
  .foto-cliente.resultado-positivo .box-tireNovamente {
    margin-top: 15px; }
    .foto-cliente.resultado-positivo .box-tireNovamente .glyphicon-camera {
      font-size: 16px; }
    .foto-cliente.resultado-positivo .box-tireNovamente a {
      text-decoration: underline;
      color: #53b0f2;
      font-size: 12px; }

.proposta-negada {
  margin-top: 40px; }
  .proposta-negada .box-icon {
    text-align: right;
    margin-top: 25px; }
  .proposta-negada .txt-title {
    margin-bottom: 60px; }
    .proposta-negada .txt-title h3 {
      color: #FF3636; }
  .proposta-negada .box-txt {
    margin-bottom: 20px; }
    .proposta-negada .box-txt h5 {
      color: #FF3636;
      font-family: 'gotham_htfbold'; }
    .proposta-negada .box-txt p {
      font-family: 'gotham_htfbook';
      font-size: 16px; }
  .proposta-negada .box-btn {
    margin-top: 30px; }

section.box-dados-pessoais .container-proposta-cliente {
  background-color: #F8EEA7;
  border-radius: 5px;
  padding: 5px 10px; }
  section.box-dados-pessoais .container-proposta-cliente span {
    font-family: 'gotham_htflight';
    color: #484848; }
  section.box-dados-pessoais .container-proposta-cliente .mini-foto-cliente {
    text-align: center; }
  section.box-dados-pessoais .container-proposta-cliente .img-circle {
    margin-top: 7px;
    width: 50px;
    height: 50px; }
  section.box-dados-pessoais .container-proposta-cliente .container-botao {
    text-align: right; }
  section.box-dados-pessoais .container-proposta-cliente .bt-amarelo {
    margin-top: 10px; }
  section.box-dados-pessoais .container-proposta-cliente .bt-fechar {
    text-align: right; }
    section.box-dados-pessoais .container-proposta-cliente .bt-fechar a {
      text-decoration: none;
      color: #484848; }
section.box-dados-pessoais #myScrollspy {
  text-align: left;
  font-size: 32px; }
section.box-dados-pessoais label {
  font-size: 16px; }
section.box-dados-pessoais ul {
  list-style: none;
  padding-left: 0px; }
section.box-dados-pessoais ul li {
  margin-top: 10px; }
section.box-dados-pessoais ul li.form-group {
  margin-bottom: 30px; }
section.box-dados-pessoais div[class^="box"] {
  padding-top: 60px; }
section.box-dados-pessoais .box-botao {
  margin-top: 40px; }
section.box-dados-pessoais .box-cartaoAdicional {
  width: 70%; }
  section.box-dados-pessoais .box-cartaoAdicional .box-editar {
    text-align: right; }
  section.box-dados-pessoais .box-cartaoAdicional .excluir-card {
    margin-left: 15px; }
  section.box-dados-pessoais .box-cartaoAdicional .card-cartao {
    margin-top: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1); }
    section.box-dados-pessoais .box-cartaoAdicional .card-cartao .txt-parente {
      color: #919191;
      font-size: 13px;
      font-family: "gotham_htfbook"; }
    section.box-dados-pessoais .box-cartaoAdicional .card-cartao label {
      font-size: 15px; }
  section.box-dados-pessoais .box-cartaoAdicional .box-addCartao {
    margin-top: 20px; }
    section.box-dados-pessoais .box-cartaoAdicional .box-addCartao a {
      font-family: 'gotham_htfbold'; }
@media (min-width: 768px) {
  section.box-dados-pessoais .modal-alongado .modal-dialog {
    width: 407px; } }
section.box-dados-pessoais .modal-alongado .modal-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px; }
section.box-dados-pessoais .modal-alongado .modal-header {
  border-bottom: none; }
section.box-dados-pessoais .modal-alongado .modal-footer {
  border-top: none;
  text-align: left; }
section.box-dados-pessoais .modal-alongado input, section.box-dados-pessoais .modal-alongado select {
  background-color: #fff; }
section.box-dados-pessoais .modal-alongado .label-title {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: bold; }
section.box-dados-pessoais .modal-alongado label {
  font-weight: normal;
  font-size: 13px; }

section.produtos-servicos .titulo {
  margin-bottom: 30px; }
section.produtos-servicos .linha-cards + .linha-cards {
  margin-top: 30px; }
section.produtos-servicos .card-produto {
  height: 285px;
  padding: 30px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1); }
  section.produtos-servicos .card-produto .txt-tipo {
    color: #919191;
    font-size: 12px;
    font-family: 'gotham_htfbook'; }
  section.produtos-servicos .card-produto h5 {
    color: #FF3636;
    font-weight: bold;
    font-family: 'gotham_htfbold'; }
  section.produtos-servicos .card-produto ul {
    list-style: none;
    padding-left: 0px !important; }
  section.produtos-servicos .card-produto li.txt-produto {
    margin-top: 20px;
    margin-bottom: 20px; }
  section.produtos-servicos .card-produto .box-botaoAdquirir button {
    font-family: 'gotham_htfbook';
    font-size: 11px; }
section.produtos-servicos .card-produto.adquirir ul.box-btn-adquirir {
  margin-bottom: -36px; }
  section.produtos-servicos .card-produto.adquirir ul.box-btn-adquirir li {
    text-align: right; }
section.produtos-servicos .card-produto.adquirir h5, section.produtos-servicos .card-produto.adquirir li.txt-produto {
  color: #919191 !important; }
section.produtos-servicos .card-produto.adquirir .glyphicon-ok-sign {
  font-size: 32px;
  color: #53b0f2; }
section.produtos-servicos .box-impressaoContrato {
  margin-top: 50px;
  text-align: center; }

.edicao-info h3 {
  margin-bottom: 50px; }
.edicao-info .card {
  min-height: 520px; }
  .edicao-info .card li {
    margin-bottom: 10px; }
  .edicao-info .card h5 {
    font-weight: bold;
    margin-bottom: 30px; }
  .edicao-info .card .form-group label {
    font-size: 11px;
    font-family: 'gotham_htfbook'; }
  .edicao-info .card .form-custom {
    background-color: #fff !important; }
  .edicao-info .card .radio-inline + .radio-inline, .edicao-info .card .checkbox-inline + .checkbox-inline {
    margin-left: 0px; }
  .edicao-info .card .radio label, .edicao-info .card .checkbox label {
    padding-left: 0px;
    margin-bottom: 15px; }
  .edicao-info .card label span {
    font-size: 12px; }
  .edicao-info .card .radio {
    color: #919191;
    font-size: 15px;
    position: relative; }
  .edicao-info .card .radio span {
    position: relative;
    padding-left: 30px;
    padding-top: 5px;
    margin-right: 10px; }
  .edicao-info .card .radio span:after {
    content: '';
    width: 25px;
    height: 25px;
    border: 1px solid;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .edicao-info .card .radio input[type="radio"] {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  .edicao-info .card .radio input[type="radio"]:checked + span {
    color: #53b0f2; }
  .edicao-info .card .radio input[type="radio"]:checked + span:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background: #53b0f2;
    left: 5px;
    top: 6px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%; }
  .edicao-info .card .box-outrosProdutos {
    margin-top: 15px;
    margin-bottom: 15px; }
    .edicao-info .card .box-outrosProdutos a {
      text-decoration: underline;
      font-size: 12px; }
.edicao-info .produtos-adquiridos h6 {
  font-weight: bold; }
.edicao-info .box-salvar {
  text-align: center;
  margin-top: 30px; }

.impressao-contrato .box-txtAdesao {
  margin-top: 90px; }
.impressao-contrato .txt-proposta {
  text-align: justify; }
.impressao-contrato .box-sign {
  margin-top: 80px; }
.impressao-contrato .box-txtSign {
  font-size: 11px;
  color: #919191;
  margin-top: 20px; }
.impressao-contrato .box-imprimir {
  margin-top: 50px;
  font-family: 'gotham_htfbook'; }
.impressao-contrato .print-icon {
  margin-top: -8px; }

@media (min-width: 768px) {
  .modal-alongado .modal-dialog {
    width: 407px; } }
.modal-alongado .modal-body {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px; }

@media (min-width: 768px) {
  .modal-large .modal-dialog {
    width: 760px; } }
.modal-large .modal-body {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px; }

#modal-imprimindo .box-icon {
  text-align: center; }
#modal-imprimindo .box-txt {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px; }

#modal-impressaoSucesso .modal-body {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px; }
#modal-impressaoSucesso h6 {
  font-size: 14px; }
#modal-impressaoSucesso p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'gotham_htfbook'; }
#modal-impressaoSucesso button {
  margin-top: 20px; }
#modal-impressaoSucesso .box-info-errada {
  text-decoration: underline;
  margin-top: 20px; }

.escanear-documento .box-titulo {
  text-align: center; }
.escanear-documento .box-papel .img-papel {
  text-align: center;
  padding-top: 30px;
  border: solid thin #EBEBEB;
  background-color: #fff;
  width: 240px;
  height: 336px;
  border-radius: 6px;
  margin: 40px auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35); }
  .escanear-documento .box-papel .img-papel .linhas-papel {
    width: 200px; }
  .escanear-documento .box-papel .img-papel .gif-papel {
    width: 100px;
    margin-top: 70px; }
.escanear-documento .box-botao {
  text-align: center; }

.escaneado-sucesso .box-titulo {
  text-align: center; }
  .escaneado-sucesso .box-titulo img {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 15px; }
  .escaneado-sucesso .box-titulo h3 {
    display: inline-block; }
.escaneado-sucesso .box-papel .img-papel {
  text-align: center;
  padding-top: 30px;
  border: solid thin #EBEBEB;
  background-color: #fff;
  width: 240px;
  height: 336px;
  border-radius: 6px;
  margin: 40px auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35); }
.escaneado-sucesso .box-papel .contrato-papel {
  width: 100%; }
.escaneado-sucesso .box-botao {
  text-align: center; }
.escaneado-sucesso .linha {
  text-align: center;
  margin-bottom: 20px; }
  .escaneado-sucesso .linha a {
    text-decoration: underline; }
  .escaneado-sucesso .linha ul li {
    margin-bottom: 10px; }
    .escaneado-sucesso .linha ul li span {
      color: #919191;
      font-size: 12px;
      font-family: 'gotham_htfbook'; }
  .escaneado-sucesso .linha button {
    border-radius: 45px;
    padding: 10px 20px;
    font-size: 11px;
    font-weight: bold;
    background-color: #fff; }

#modal-digitaCodigo .input-codigo input {
  margin-top: 30px;
  height: 70px;
  text-align: center;
  font-size: 24px;
  color: #53b0f2; }
#modal-digitaCodigo .form-control.sms-ok {
  background: url("../imgs/check.png") no-repeat center right;
  background-position: right 10px center;
  padding-right: 10px;
  border: solid thin #53b0f2; }
#modal-digitaCodigo ::-webkit-input-placeholder {
  text-align: center !important;
  font-size: 24px; }
#modal-digitaCodigo ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center !important;
  font-size: 24px; }
#modal-digitaCodigo :-ms-input-placeholder {
  /* IE 10+ */
  text-align: center !important;
  font-size: 24px; }
#modal-digitaCodigo :-moz-placeholder {
  /* Firefox 18- */
  text-align: center !important;
  font-size: 24px; }
#modal-digitaCodigo .box-reenviar {
  text-align: center;
  margin-top: 20px; }
#modal-digitaCodigo .box-semCelular {
  text-align: center;
  margin-top: 20px; }

#modal-confiraNumero .box-reenviar {
  margin-top: 20px; }
#modal-confiraNumero .form-group {
  margin-top: 30px; }

#modal-semCelular .txt {
  margin-top: 20px; }
#modal-semCelular .txt span {
  color: #142d4e;
  font-weight: bold; }
#modal-semCelular .txt-cinza {
  color: #919191;
  margin-top: 20px; }
#modal-semCelular .box-continuar {
  margin-top: 30px; }

.impressao-cartao {
  margin-top: 40px; }
  .impressao-cartao .box-botoes {
    margin-top: 40px; }
    .impressao-cartao .box-botoes span {
      color: #919191;
      padding-left: 20px;
      padding-right: 20px; }
  .impressao-cartao .box-propostaFinalizada {
    width: 405px; }
  .impressao-cartao #modal-impressaoCartao .box-botoes {
    margin-top: 30px; }
    .impressao-cartao #modal-impressaoCartao .box-botoes .bt-vermelho {
      margin-right: 10px; }

.impressao-voucher {
  margin-top: 40px; }
  .impressao-voucher .box-botoes {
    margin-top: 40px; }
  .impressao-voucher .box-propostaFinalizada {
    width: 405px; }

.form-group.radio-custom .radio-inline + .radio-inline, .form-group.radio-custom .checkbox-inline + .checkbox-inline {
  margin-left: 0px; }
.form-group.radio-custom .radio label, .form-group.radio-custom .checkbox label {
  padding-left: 0px;
  margin-bottom: 15px; }
.form-group.radio-custom label span {
  font-family: 'gotham_htfbold';
  font-size: 14px;
  color: #142d4e;
  padding-top: 0px; }
.form-group.radio-custom .radio {
  color: #919191;
  font-size: 15px;
  position: relative; }
.form-group.radio-custom .radio span {
  position: relative;
  padding-left: 40px;
  padding-top: 5px;
  margin-right: 10px;
  color: #919191; }
.form-group.radio-custom .radio span:after {
  content: '';
  width: 25px;
  height: 25px;
  border: 1px solid;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
.form-group.radio-custom .radio input[type="radio"] {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
.form-group.radio-custom .radio input[type="radio"]:checked + span {
  color: #53b0f2; }
.form-group.radio-custom .radio input[type="radio"]:checked + span:before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background: #53b0f2;
  left: 5px;
  top: 6px;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%; }

#modal-produtosServicos .box-titulo {
  text-align: center;
  margin-bottom: 30px; }
  #modal-produtosServicos .box-titulo span {
    font-family: 'gotham_htfbook'; }
  #modal-produtosServicos .box-titulo h3 {
    margin-bottom: 20px; }
#modal-produtosServicos .card-produto {
  height: 285px;
  padding: 30px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1); }
  #modal-produtosServicos .card-produto:hover {
    border: solid thin #ccc;
    border-radius: 4px;
    cursor: pointer; }
  #modal-produtosServicos .card-produto .txt-tipo {
    color: #919191;
    font-size: 12px;
    font-family: 'gotham_htfbook'; }
  #modal-produtosServicos .card-produto .txt-produto {
    color: #919191; }
  #modal-produtosServicos .card-produto h5 {
    color: #919191;
    font-weight: bold;
    font-family: 'gotham_htfbold'; }
  #modal-produtosServicos .card-produto ul {
    list-style: none;
    padding-left: 0px !important; }
  #modal-produtosServicos .card-produto li.txt-produto {
    margin-top: 20px;
    margin-bottom: 20px; }
  #modal-produtosServicos .card-produto .box-botaoAdquirir button {
    font-family: 'gotham_htfbook';
    font-size: 11px; }
  #modal-produtosServicos .card-produto .glyphicon-ok-sign {
    font-size: 32px;
    color: #53b0f2; }
  #modal-produtosServicos .card-produto ul.box-btn-adquirir li {
    text-align: right; }
  #modal-produtosServicos .card-produto ul.box-btn-adquirir {
    margin-bottom: -36px; }
#modal-produtosServicos .card-produto.adquirido {
  color: #142d4e !important; }
  #modal-produtosServicos .card-produto.adquirido h5 {
    color: #FF3333 !important; }
  #modal-produtosServicos .card-produto.adquirido .txt-produto {
    color: #142d4e !important; }
#modal-produtosServicos .box-botao {
  margin-top: 30px;
  text-align: center; }

/*# sourceMappingURL=credline-novo.css.map */
